---
import SiteOwnersTool from '@components/sites/SiteOwnersTool/SiteOwnersTool.astro'
import { extractFlowTime } from 'src/utils/extractFlowTime'
import { db, getSessionUser } from '@firebase/server'
import SettingsPage from '@layouts/SettingsPage.astro'
import { SiteSchema } from '@schemas/Site'
import { t } from 'src/utils/i18n'
import { SiteCard } from '@components/solid/sites/SiteCard'
import { SiteMetaSection } from '@components/solid/sites/SiteSettings/SiteMetaSection'

const { sitekey } = Astro.params

const siteDoc = await db
  .collection('sites')
  .doc(sitekey + '')
  .get()
const site = SiteSchema.parse({
  ...siteDoc.data(),
  key: siteDoc.id,
  flowTime: extractFlowTime(siteDoc.data()),
})

const { uid } = await getSessionUser(Astro.cookies)

if (!site.owners.includes(uid)) {
  return Astro.redirect('/login?redirect=/sites/' + site.key +'/settings')
}

---

<SettingsPage title={t('sites:settings.title')}>
  <div class="content-columns">
    <div class="column-s">
      <SiteCard site={site} client:only="solid-js"/>
    </div>
    <section>
      <SiteMetaSection site={site} client:load/>
    </section>
    <div>
      <h3 class="downscaled">{t('entries:sites.owners')}</h3>
      <p>{t('entries:sites.ownersDescription')}</p>
      <SiteOwnersTool site={site} />
    </div>
    
  </div>
</SettingsPage>
