---
import { t } from "@utils/i18n";

---
<section>
  <h4>{t('footer:credits.title')}</h4>
  <p>{t('footer:credits.description')}</p>
  <p><a href="/meta/about">{t('footer:credits.linkAbout')}</a></p>
</section>