---
import { getSessionUser } from '../../firebase/server'
import { ProfileForm } from '../../components/solid/account/ProfileForm'
import { t } from 'src/utils/i18n'
import { db } from '../../firebase/server'
import { ProfileSchema } from '@schemas/Profile'
import Page from '@layouts/Page.astro'
import AccountTray from '@components/account/AccountTray.astro'
import LogoutButton from '@components/app/LogoutButton.astro'

const user = await getSessionUser(Astro.cookies)
if (!user.uid) {
  // This page requires authentication, so redirect to the login page
  Astro.redirect('/login')
}
const profileData = (await db.collection('profiles').doc(user.uid).get()).data()

const profile = ProfileSchema.parse(profileData)
---

<Page title={t('account:title')}>
  <div slot="tray">
    <AccountTray uid={user.uid} {profile} />
  </div>
  <div class="content-columns">
    <div class="column-l">
      <ProfileForm {...profile} client:visible />
    </div>
    <div>
      <LogoutButton />
    </div>
  </div>
</Page>
