---
import AppRail from '../components/app/AppRail.astro'
import BaseHead from '../components/app/BaseHead.astro'
import AppBar from '../components/app/AppBar.astro'
import AppTray from '../components/app/AppTray.astro'
import FabTray from '@components/app/FabTray.astro'
import PagePoster from '@components/app/PagePoster.astro'
import NavBar from '@components/app/NavBar.astro'
import BaseTailer from '@components/server/BaseTailer/BaseTailer.astro'

const { title, poster, tray } = Astro.props
---

<html lang="fi">
  <BaseHead />
  <NavBar />
  <body>
    <AppBar title={title} tray={tray} />
    <AppRail />
    {
      tray ? (
        <AppTray>
          <slot name="tray" />
        </AppTray>
      ) : (
        ''
      )
    }
    <main>
      {poster ? <PagePoster poster={poster} /> : ''}
      <slot />
    </main>
    <BaseTailer />
    <slot name="fabs" />
  </body>
</html>
